.box1{
    background-color:skyblue;
    height:550px;
    width:450px;
   }

   .box2{
    background-color: green;
    height:450px;
    width:150px;
   }
   .box3{
    background-color:aquamarine;
    height:300px;
    width:250px;
   }
   .box4{
    background-color:blue;
    height:100px;
    width:70x;
   }